# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out

# Eclipse Project files
.classpath
.project
.settings/

bin/
gen/
target

.DS_Store
Thumbs.db
/jfteam-spring-boot-session-redis-demo/jfteam-spring-boot-session-redis-demo.iml
